* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url("images/steven_universe_cookie_cat.jpg"), url("images/memory_match_cookie_cat2.png");
    background-size: cover, 100%;
    background-repeat: no-repeat, repeat;
    background-position: center center;
}

body, #game_area {
    font-size: 0;
}

body > *, #game_area > * {
    font-size: 1rem;
}

.header_title, #game_logo_image, ul, .header_links li, #stats_container, .card {
    display: inline-block;
}

#header_container {
    height: 15%;
    background-color: rgba(76,0,153, 0.8);
}

.header_title {
    color: rgba(204,0,102, 1);
    margin-left: 3vmin;
}

.header_title h1 {
    font-size: 4vw;
}

.header_title, #game_logo_image {
    vertical-align: middle;
}

#game_logo_image {
    height: 14%;
}

#game_logo_image, .card {
    width: 15%;
}

a {
    text-decoration: none;
    color: rgba(255,128,0, 0.8);
}

ul,.header_links li {
    margin: 0 5vmin;
}

#stats_container {
    width: 20%;
    background-color: rgba(204,0,102, 0.7);
}

#stats_container, .card img {
    height: 100%;
}

button {
    background-color: rgba(255,128,0, 0.9);
    font-weight: bold;
    box-shadow: 4px 4px 5px rgba(76,0,153, 0.6);
}

#stats_container, button {
    color: rgba(76,0,153, 1);
}

#stats_container div {
    margin: 5vmin 1vmin;
}

#game_area {
    width: 80%;
    height: 85vmin;
    float: right;
}

#game_logo_image, #game_area, .card {
    position: relative;
}

.card {
    margin: .5vmin .5vmin 0 0;
    height: 32%;
    overflow: hidden;
}

.card img {
    position: absolute;
    width: 100%;
}

.about {
    margin: 2vmin;
}

.about a {
    color: rgba(204,0,102, 1);
}

.about_image {
    height: 50vmin;
}

.about_header h1 {
    font-size: 8vmin;
}

.about_information, a, .about_skills, button {
    font-size: 3vmin;
}

#game_area .you_win, .about {
    color: #ffffff;
}

#game_area .you_win {
    font-size: 6vmin;
}

#game_area .you_win_video {
    border: 1vmin solid rgba(76,0,153, 0.9);
}